*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-width: 200px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
/* SELETTORI GLOBALI  */
.view-md{
    display: none;
}
/* MAIN  */
/* main container  */
main{
    height: calc(100% - 55px);
}
.container-main{
    height:100%;
    display: flex;
}
/* MENU NAV  */
.menu{
    background-color: black;
    width: 30px;
}
nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
}
/* nav top  */
    .nav-top{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        display: none;
    }
    .logo-small{
        width: 20px;
        margin-bottom: 10px;
    }
    .menu-icons{
        width: 16px;
    }
    .nav-top ul{
        width: 100%;
    }
    .nav-top ul li{
        padding-left: 7px;
    }
/* nav-bottom  */
    .nav-bottom{
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .user{
        padding: 2px 2px;
        background-color: lightgray;
        border-radius: 50%;
    }
    .nav-bottom i{
        font-size: 8px;
        color: lightgray;
    }
/* LIBRARY  */
.library{
    display: flex;
    flex-direction: column;
    background-color: #141922;
    width: calc(100% - 25px);
}
/* upgrade  */
    .upgrade{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        top: 0;
        height: 40px;
        width: calc(100% - 24px);
        background-color: #080b12;
        filter: opacity(0.60);
        z-index: 1;
        
    }
    .upgrade a{
        color: white;
        padding: 4px 10px;
        border: 2px solid white;
        text-decoration: none;
        margin-right: 20px;
        border-radius: 20px 20px;
        font-size: 10px;
    }

/* FOOTER  */
.playing{
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-color: #282828;
    z-index: 2;
    padding: 0 10px;
}
/* song-playing  */
    .song-playing{
        display: flex;
        direction: row;
        align-items: center;
        width: 20%;
        height: 45px;
        flex-shrink: 1;
    }
    .song-playing>*{
        margin-right: 10px;
    }
    .song-playing img{
        width: 30px;
    }
    .song-name {
        display: flex;
        flex-direction: column;
    }
    .song-name h5 {
        font-size: 8px;
        color: white;
    }
    .song-name span{
        font-size: 6px;
        color: lightgray;
    }
    .song-favorite {
        display: flex;
        flex-direction: column;
    }
    .song-favorite i {
        color: lightgray;
        font-size: 6px;
        margin: 2px;
    }
    .actions-playing{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content:space-between ;
        width: 50%;
        height: 45px;
        flex-shrink: 0;
    }
    .actions-playing>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        height: 50%;
    }
    .actions-playing>div:first-child{
        justify-content: space-evenly;
        width: 200px;
    }
    .actions-playing>div:last-child{
        width: 100%;
    }
    .actions-playing>div i{
        color: white;
        font-size: 10px;
    }
    .actions-playing>div i:nth-child(3){
        font-size: 15px;
    }
    .actions-playing span{
        font-size: 7px;
        font-weight: 700;
        color: white;
    }
    .time-bar{
        height: 3px;
        width: 70%;
        background-color: darkgray;
        margin: 0 5px;
        border-radius: 20px 20px;
        filter: opacity(0.60);
    }
    .volume-playing{
        width: 25%;
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 1;
    }
    .volume-playing>div i{
        color: white;
        font-size: 8px;
    }
    .volume-bar{
        height: 3px;
        width: 30%;
        background-color: darkgray;
        margin: 0 5px;
        border-radius: 20px 20px;
        filter: opacity(0.60);
    }
@media screen and (min-width: 576px){
    .view-md{
        display: inline-block;
    }
    /* menu  */
        .menu{
            width: 150px;
        }
        .nav-top{
            display: block;
        }
    /* top nav  */
        .logo-small{
            display: none;
        }
        .logo{
            
            width: 90px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .menu-icons{
            width: 18px;
        }
        .nav-top ul li{
            display: flex;
            align-items: center;
            margin: 5px 0;
        }
        .nav-top ul li span{
            
            font-size: 11px;
            font-weight: 400;
            color: lightgray;
        }
    /* playlist  */
        .playlist{
            
            padding-left: 5px;
            margin-top: 10px;
        }
        .playlist span, .playlist ul li{
            font-size: 10px;
            color: lightgray;
        }
        .playlist i+span{
        font-weight: 700;
        }
        .playlist h3{
            font-size: 15px;
            margin-bottom: 10px;
            color: white;
        }
        .playlist>i{
            font-size: 10px;
            padding: 3px;
            color: black;
            background-color: lightgray;
        }
        .playlist ul li{
            list-style-type: none;
            margin: 5px 0 5px -5px;
        }
    /* nav bottom  */
        .nav-bottom{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: unset;
            padding: 0 5px;
            
        }
        .nav-bottom i+span{
            display: inline-block;
            color: lightgray;
            font-size: 8px;
            margin-left: 5px;
            
        }
        .nav-bottom img+span{
            display: inline-block;
            color: white;
            font-weight: 700;
            font-size: 10px;
            margin-left: 5px;
        }
        .nav-bottom>div{
            display: flex;
            align-items: center;
    
        }
        .nav-bottom div:first-child{
            border-bottom: 1px solid grey;
            padding-bottom: 5px;
            padding-left: 5px; 
        }
    /* library  */
        .upgrade{
            width: calc(100% - 150px);
        }
        .upgrade a{
            transform: scale(120%);
        }
        .library{
            width: calc(100% - 150px);
        }
}
