*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a,a:visited, a:focus{
    text-decoration: none;
    color: white;
}
/* SELETTORI GLOBALI  */
.view-md{
    display: none;
}
.scrollbarhide::-webkit-scrollbar{
    display: none;
}
.scrollbarhide{
    scrollbar-width: none;
}
/* SELETTORI HOVER  */

.play:active .play-song{
    display: block;
}
.play:active a{
    filter: opacity(0.6);
}
.scale:hover{
    transform: scale(110%);
}
.underline:hover{
    text-decoration: underline;
}
.bars:hover .time-bar-green,.bars:hover div{
    display: inline-block;

}

/* MAIN  */
/* main container  */
main{
    height: calc(100vh - 80px);
   overflow: hidden; 
}
.container-main{
    height:100%;
    display: flex;
}
/* MENU NAV  */
.menu{
    background-color: black;
    width: 40px;
    overflow-y: scroll;
}
nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
}
/* nav top  */
    .nav-top{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        display: none;
    }
    .logo-small{
        width: 25px;
        margin-bottom: 10px;
    }
    .menu-icons{
        width: 22px;
    }
    .nav-top ul{
        width: 100%;
    }
    .nav-top ul li{
        padding-left: 8px;
        margin-bottom: 10px;
        color: grey;
    }
    .nav-top ul li span{
        color: grey;
    }
    
/* nav-bottom  */
    .nav-bottom{
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .user{
        padding: 2px 2px;
        background-color: grey;
        border-radius: 50%;
    }
    .nav-bottom i{
        font-size: 10px;
        color: grey;
    }
/* LIBRARY  */
.library{
    display: flex;
    flex-direction: column;
    background-color: #141922;
    width: calc(100% - 25px);
    padding-top: 40px;
    max-height: 100%;
    overflow-y: scroll;
}
/* upgrade  */
    .upgrade{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        top: 0;
        height: 40px;
        width: calc(100% - 24px);
        background-color: #080b12b4;
        z-index: 1;
    }
    .upgrade a{
        color: white;
        padding: 4px 10px;
        border: 2px solid white;
        text-decoration: none;
        margin-right: 20px;
        border-radius: 20px 20px;
        font-size: 10px;
    }
/* music  */
.music{
    height: 100%;
}
/* music menu  */
    .music-menu ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }
    .music-menu ul li{
        height: 100%;
        color: grey;
        font-size: 11px;
        font-weight: 600;
        list-style: none;
        text-transform: uppercase;
        margin: 0 15px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
/* music-artists  */
    .music-artists{
        padding: 0 20px;
        width: 100%;
        
    }
    .recently-played>div>div{
        position: relative;
    }
    .recently-played>div>div i,.created-for>div>div i,.popular-artist>div>div i{
        font-size: 40px;
        color: white;
        position: absolute;
        left: 50%;
        top: 48%;
        transform: translate(-50%,-50%);
        display: none;
    
    }
    .recently-played {
        margin-top: 40px;
    }
    
    .recently-played h2,.created-for h2,.popular-artist h2{
        color: white;
        font-size: 24px;
       
    }
    .recently-played>div,.created-for>div,.popular-artist>div{
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 15px;
        flex-wrap: wrap; 
        margin-top: 20px;
        
    }
    .recently-played>div>div,.created-for>div>div,.popular-artist>div>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        
        width: 45%;
    }
    .recently-played img,.created-for img,.popular-artist img{
        width: 100%;
    }
    .popular-artist img{
        border-radius: 50%;
    }
    .recently-played h4,.created-for h4,.popular-artist h4{
        color: white;
        font-size: 15px;
        margin: 5px 0;
    }
    .recently-played span,.created-for span,.popular-artist span{
        color: grey;
        font-size: 10px;
        font-weight: 600;
    }
    
/* FOOTER  */
.playing{
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #282828;
    z-index: 2;
    padding: 0 10px;
}
/* song-playing  */
    .song-playing{
        display: flex;
        direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 250px;
        height: 45px; 
    }
    .song-playing>*{
        margin-right: 10px;
    }
    .song-playing img{
        width: 60px;
    }
    .song-name {
        display: flex;
        flex-direction: column;
    }
    .song-name h5 {
        font-size: 15px;
        color: white;
    }
    .song-name span{
        font-size: 10px;
        color: lightgray;
    }
    .song-name span a{
        color: lightgray;
    }
    .song-favorite {
        display: flex;
        flex-direction: column;
    }
    .song-favorite i {
        color: lightgray;
        font-size: 15px;
        margin: 2px;
    }
/* action playing bar  */
    .actions-playing{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content:space-between ;
        width: 500px;
        height: 45px;
        
    }
    .actions-playing>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
    .actions-playing>div:first-child{
        justify-content: space-evenly;
        width: 200px;
    }
    .actions-playing>div:last-child{
        width: 100%;
        margin: 10px 0;
    }
    .actions-playing>div a i{
        color: white;
        font-size: 15px;
    }
    .actions-playing>div a:nth-child(3) i{
        font-size: 25px;
    }
    .actions-playing span{
        font-size: 10px;
        font-weight: 700;
        color: white;
    }
     /* time/progress bar */
    .time-bar{
        position: relative;
        height: 4px;
        width: 70%;
        background-color: rgba(169, 169, 169, 0.438);
        margin: 10px 10px;
        border-radius: 20px 20px;
    }
    .time-bar-green div{
        display: none;
        position: absolute;
        top: -70%;
        right: 0;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
    }
    .time-bar-green{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 4px;
        border-radius: 20px 20px;
        background-color: #1ed760;
        
    }
    /* volume bar  */
    .volume-playing{
        width: 200px;
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
    }
    .volume-playing>div:first-child{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .action-tv-list{
        height: 30px;
        display: flex;
        flex-direction: column;
    }
    .action-tv-list i{
        margin-bottom: 10px;
    }
    .volume-playing>div i{
        color: white;
        font-size: 13px;
        margin-left: 10px;
    }
    .volume-bar{
        display: none;
        height: 4px;
        width: 30%;
        background-color: rgba(169, 169, 169, 0.459);
        margin: 0 5px;
        border-radius: 20px 20px;
    }
    
@media screen and (min-width: 576px){
    /* SELETTORI HOVER  */
    .play:hover .play-song{
        display: block;
    }
    .play:hover a{
        filter: opacity(0.6);
    }
    .active-menu:hover{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px 10px;
        color: white;
    }
    .white:hover span{
    color: white;
    }
    .white-a:hover a{
    color: white;
    }
    .white-i:hover i{
        color: white;
    }
    .border-active-library:hover{
        color: white;
        border-bottom: 2px solid #1ed760;
    }
    
    /* -------------  */
    .view-md{
        display: inline-block;
    }
    /* menu  */
        .menu{
            width: 150px;
        }
        .nav-top{
            display: block;
        }
    /* top nav  */
        .logo-small{
            display: none;
        }
        .logo{
            width: 90px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .menu-icons{
            width: 20px;
        }
        .nav-top ul li{
            margin: 5px 5px;
            padding: 5px 3px;
        }
        .nav-top ul li a{
            display: flex;
            align-items: center;
        }
        .nav-top ul li a span{
            font-size: 15px;
            font-weight: 600;
            color: grey;
            margin-left: 5px;
        }
    /* playlist  */
        .playlist{
            padding-left: 5px;
            margin-top: 10px;
        }
        .playlist a span, .playlist ul li a{
            font-size: 13px;
            font-weight: 600;
            color: grey;
        }
        .playlist i+span{
        font-weight: 700;
        }
        .playlist h3{
            font-size: 15px;
            margin-bottom: 10px;
            color: white;
        }
        .playlist i{
            font-size: 15px;
            padding: 3px;
            color: black;
            background-color: grey;
            border-radius: 50%;
        }
        .playlist ul li{
            list-style-type: none;
            margin: 10px 0;
        }
    /* nav bottom  */
        .nav-bottom{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: unset;
            padding: 0 5px;
            
        }
        .nav-bottom .install span{
            display: inline-block;
            font-size: 12px;
            margin-left: 5px;
            color: grey;
        }

        .nav-bottom .profile span{
            display: inline-block;
            color: white;
            font-weight: 700;
            font-size: 15px;
            margin-left: 5px;
        }
        .nav-bottom>div a{
            display: flex;
            align-items: center;
    
        }
        .nav-bottom .install{
            border-bottom: 1px solid grey;
            padding-bottom: 5px;
            padding-left: 5px; 
        }
    /* library  */

        .upgrade{
            width: calc(100% - 150px);
        }
        .upgrade a{
            transform: scale(120%);
        }
        .library{
            width: calc(100% - 150px);
        }
    /* music artist  */
    /* footer  */
    .song-favorite{
        flex-direction: row;
    }
    .song-favorite i{
        font-size: 15px;
        margin-right: 5px;
    }
    .action-tv-list{
        height: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .action-tv-list i{
        margin-bottom: unset;
    }
    .volume-bar{
        display: block;
        position: relative;
        
    }
    .volume-bar-green div{
        display: none;
        position: absolute;
        top: -70%;
        right: 0;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
    }
    .volume-bar-green{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 4px;
        border-radius: 20px 20px;
        background-color: #1ed760;
    }
}
@media screen and (min-width: 768px){
    /* library  */
    .recently-played>div>div,.created-for>div>div,.popular-artist>div>div{
        
        width: 23%;
    }
    /* footer  */
    
}
@media screen and (min-width: 992px){
    .recently-played>div>div,.created-for>div>div,.popular-artist>div>div{
        width: 15%;
    }
    .music-menu ul li{
        font-size: 14px;
        
    }
}
@media screen and (min-width: 1200px){
    
}

